@import url(../../../styles/App.scss);
@import url(../../../styles/animations.scss);
.cont{
  bottom: 30px;
  left: 50%;
  margin-left: -12px;
  span{
    display: block;
    width:20px;
    height:34px;
    background: none;
    border-radius: 13px;
    border: $line-width-4 solid $main-color;
    i{
      position: absolute;
      left:12px;
      top:10px;
      display: block;
      width:$line-width-4;
      height:8px;
      border-radius: 50%;
      background: $main-color;
      -webkit-animation:opacity .8s ease-in-out  infinite;
      -o-animation:opacity .8s ease-in-out  infinite;
      animation: opacity .8s ease-in-out infinite;
    }
  }
}
