$main-color:#ffb901;
$main-color-2:#4b3804;
$white-color:#fff;
$black-color:#000;

$line-width-2:2px;
$line-width-3:3px;
$line-width-4:4px;

$font-size-10: 10px !default;
$font-size-12: 12px !default;
$font-size-13: 13px !default;
$font-size-14: 14px !default;
$font-size-15: 15px !default;
$font-size-16: 16px !default;
$font-size-17: 17px !default;
$font-size-18: 18px !default;
$font-size-20: 20px !default;
$font-size-24: 24px !default;
$font-size-30: 30px !default;
$font-size-big: 60px !default;
* {
  margin: 0;
  padding: 0;
  border: none;

}
#app{
  height:100%;
  &>div{
    overflow: hidden;
    section{
      position: absolute;
      left: 0;
      top:0;
      width:100%;
      height:100%;
    }
  }
}
html,
body {
  font-size: inherit;
  background: #000;
  height:100%;
  font-family: “Lucida Grande”, Lucida, Verdana, sans-serif;
  text-shadow: #000 0 0 0;
}
ul {
  list-style: none;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
dl,
address {
  font-weight: normal;
}
cite,
em,
dfn {
  font-style: italic;
}
sup {
  position: relative;
  bottom: 0.3em;
  vertical-align: baseline;
}
sub {
  position: relative;
  bottom: -0.2em;
  vertical-align: baseline;
}
del {
  text-decoration: line-through;
}
ins,
dfn {
  border-bottom: 1px solid #ccc;
}
small,
sup,
sub {
  font-size: 85%;
}
abbr,
acronym {
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: .1em;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
a {
  outline: 0;
  text-decoration: none;
  img {
    border: none;
    text-decoration: none;
  }
  abbr {
    border: none;
  }
  acronym {
    border: none;
  }
  &:link,
  &:visited,
  &:hover,
  &:active{
    outline: 0;
    text-decoration: none;
  }
}

img {
  border: none;
  text-decoration: none;
}
label,
button {
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus {
  background-color: #FFF;
}
fieldset {
  border: none;
}
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.h100{
  height:100%;
}
.content{
  width:100%;
  transition: all .3s ease-in-out;
  &>div{
    width:100%;
    height:100%;
  }
  .bg{
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
  }
}
.gray{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.black{
  left: 0;
  top:0;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity:0.5;
  opacity: 0.5;
}

