@import "../../../../styles/app.scss";
@import "../../../../styles/animations.scss";

.bg{
  background-image: url("../../../../images/work-bg.png");
}
.cont{
  width: 960px;
  margin: 240px auto auto auto;
  h1{
    text-align: left;
    color: $main-color;
    font-size: $font-size-big;
    font-weight: 800;
    margin-bottom: 40px;
  }
  ul{
    margin-bottom: 10px;
    .qk{
      background-image: url("../../../../images/qk-logo.png");
      background-size: 20% auto;
      span{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../../../images/qk-code.png");
      }
    }
    .yj{
      background-image: url("../../../../images/yj-logo.png");
    }
    li{
      cursor: pointer;
      position: relative;
      width: 360px;
      height: 280px;
      float: left;
      margin: 0 24px 0 0;
      border-radius: 6px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size:80% auto ;
      background-position: center;
      background-color: $white-color;
      &>div{
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        div{
          position: absolute;
          width: 100%;
          height: 100%;
          background: $black-color;
          opacity: 0.3;
        }
        span{
          display: block;
          width: 80%;
          height:80%;
          margin: 10%;
        }
        a{
          position: absolute;
          bottom: 0;
          color: $black-color;
          display: block;
          height: 40%;
          width: 100%;
          font-size: $font-size-20;
          line-height: 84px;
          text-decoration: underline;
        }
      }
    }
  }
}
.contPhone{
  width: 80%;
  margin: 60px auto auto auto;
  h1{
    text-align: left;
    color: $main-color;
    font-size: $font-size-40;
    font-weight: 800;
    margin-bottom: 20px;
  }
  ul{
    margin-bottom: 10px;
    .qk{
      background-image: url("../../../../images/qk-logo.png");
      background-size: 20% auto;
      span{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../../../images/qk-code.png");
      }
    }
    .yj{
      background-image: url("../../../../images/yj-logo.png");
    }
    li{
      cursor: pointer;
      position: relative;
      height: 160px;
      width:80%;
      margin: 0 10% 20px 10%;
      border-radius: 6px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size:80% auto ;
      background-position: center;
      background-color: $white-color;
      &>div{
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        div{
          position: absolute;
          width: 100%;
          height: 100%;
          background: $black-color;
          opacity: 0.3;
        }
        span{
          display: block;
          width: 80%;
          height:80%;
          margin: 10%;
        }
        a{
          position: absolute;
          bottom: 0;
          color: $black-color;
          display: block;
          height: 40%;
          padding-top: 40%;
          width: 100%;
          font-size: $font-size-20;
          text-decoration: underline;
        }
      }
    }
  }
}