@import "../../../../styles/app.scss";
@import "../../../../styles/animations.scss";

.bg{
  background-image: url("../../../../images/about-bg.png");
}
.cont{
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -240px;
  width: 960px;
  .left{
    width:50%;
    &>div{
    float: left;
    width:384px;
    height:384px;
    border: 6px solid $main-color;
      &:after{
        content: "";
        position: absolute;
        left: -600px;
        top: 96px;
        width: 600px;
        height: 6px;
        background: $main-color;
      }
      .bg2{
        left: -30px;
        top: 42px;
        width: 312px;
        height: 312px;
        background-image: url("../../../../images/user.png");
      }
      .text{
        color: $white-color;
        width: 144px;
        height: 144px;
        border: 6px solid $main-color;
        border-right: transparent;
        top: 120px;
        left: -72px;
        &:before,
        &:after{
          position: absolute;
          content: "";
          width: 6px;
          height: 36px;
          right: 0;
          background: $main-color;
        }
        &:before{
          top:0;
        }
        &:after{
          bottom: 0;
        }
        h2{
          text-align: left;
          margin: 24px auto 0 24px;
          font-size: $font-size-30;
        }
        p{
          opacity:0.9;
          font-size: $font-size-14;
          margin-left:24px ;
          text-align: left;
          width:240px;
          position: absolute;
        }
      }
    }
  }
  .right{
    width:50%;
    float: right;
    h1{
      text-align: left;
      font-size: $font-size-big;
      font-weight: 800;
      color: #fff;
      margin-bottom: 40px;
      b{
        margin-left: 36px;
        color: $main-color;
      }
    }
    p{
      font-size: $font-size-14;
      line-height: 2.2rem;
      text-align: left;
      color: $white-color;
      font-weight: 200;
    }
  }
}

.contPhone{

  .left{
    display: block;
    margin-top: 60px;
    position: relative;
    &>div{
      margin-left: 34%;
      width:40%;
      height:0;
      padding-bottom: 40%;
      border: 6px solid $main-color;
      .bg2{
        position: absolute;
        left: 24%;
        top:14%;
        width: 30%;
        height:0;
        padding-bottom: 30%;
        background-image: url("../../../../images/user.png");
        div{
          padding-bottom:100%;
        }
      }
    }
  }
  .right{
    margin-top: 20px;
    h1{
      text-align: center;
      font-size: $font-size-30;
      font-weight: 800;
      color: #fff;
      margin-bottom: 10px;
      b{
        margin-left: 36px;
        color: $main-color;
      }
    }
    p{
      padding: 0 30px;
      font-size: $font-size-14;
      line-height:30px;
      text-align: left;
      color: $white-color;
      font-weight: 200;
      &:last-child{
        text-align: center;
      }
    }
  }
}