@import "../../../../styles/app.scss";
@import "../../../../styles/animations.scss";


//公共样式
.bg{
  background-image: url("../../../../images/home-bg.png");
}
.triangle{
  left: 50%;
  top:50%;
  width:0;
  height:0;
  opacity: 0.7;
}
.line{
  top:50%;
  left: 50%;
  margin-left: -30%;
  width:60%;
  height:$line-width-4;
  background: $main-color;
  transform: rotate(-45deg);
  opacity:0.5;
}
.white,
.yellow,
.c{
  top:50%;
  left:50%;
  border-radius: 50%;
}
.white{
  -webkit-animation:circle 5s ease-in-out infinite;
  -o-animation:circle 5s ease-in-out infinite;
  animation:circle 5s ease-in-out infinite;
  border: $line-width-3 dotted $white-color;
}
.yellow{
  -webkit-animation:circle 2s ease-in-out infinite;
  -o-animation:circle 2s ease-in-out infinite;
  animation:circle 2s ease-in-out infinite;
  border: $line-width-3 solid transparent;
  border-left: $line-width-3 dotted $main-color;
  border-right: $line-width-3 dotted $main-color;
}
.c{
  text-align: left;
  background: $main-color;
  h1{
    margin: 0;
    color: $black-color;
    font-weight: 800;
  }
  p,i{
    color: $black-color;
    font-weight:800;
  }
}
.user{
  margin: 0 0 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../images/user.png");
}
.b0{
  -webkit-animation:opacity 1s ease-in-out .2s infinite;
  -o-animation:opacity 1s ease-in-out .2s infinite;
  animation: opacity 1s ease-in-out .2s infinite;
}
.b1{
  -webkit-animation:opacity 1s ease-in-out .4s infinite;
  -o-animation:opacity 1s ease-in-out .4s infinite;
  animation: opacity 1s ease-in-out .4s infinite;
}
.b2{
  -webkit-animation:opacity 1s ease-in-out .6s infinite;
  -o-animation:opacity 1s ease-in-out .6s infinite;
  animation: opacity 1s ease-in-out .6s infinite;
}
.b3{
  -webkit-animation:opacity 1s ease-in-out .8s infinite;
  -o-animation:opacity 1s ease-in-out .8s infinite;
  animation: opacity 1s ease-in-out .8s infinite;
}
.b4{
  -webkit-animation:opacity 1s ease-in-out 1s infinite;
  -o-animation:opacity 1s ease-in-out 1s infinite;
  animation: opacity 1s ease-in-out 1s infinite;
}

//PC样式
.cont{
  .triangle{
    margin-left: -360px;
    margin-top: -780px;
    border: 360px solid transparent;
    border-bottom: 620px solid $main-color-2;
  }
  .white{
    margin-top: -328px;
    margin-left:-328px;
    width:648px;
    height:648px;
    border-radius: 48%;
  }
  .yellow{
    width:576px;
    height:576px;
    margin: -290px;
  }
  .c{
    width:480px;
    height:480px;
    margin: -244px;
    h1{
      padding: 120px 0 12px 72px;
      font-size: $font-size-big;
    }
    p,i{
      padding-left: 72px;
      font-size: $font-size-30;
      margin: 0 0 6px 0;
    }
    i{
      font-size: $font-size-20;
    }
  }
  .user{
    right: 84px;
    bottom: 84px;
    width:108px;
    height:108px;
  }
}

//WEB样式
.contPhone{
  .triangle{
    margin-left: -200px;
    margin-top: -440px;
    border: 200px solid transparent;
    border-bottom: 360px solid $main-color-2;
  }
  .white{
    margin-top: -47%;
    margin-left:-47%;
    width:94%;
    height:0;
    padding-bottom: 94%;
    border-radius: 48%;
  }
  .yellow{
    width:84%;
    height:0;
    padding-bottom: 84%;
    margin: -42% auto auto -42%;
  }
  .c{
    width:80%;
    height:0;
    padding-bottom: 80%;
    margin-left: -40%;
    margin-top: -40%;
    h1{
      padding: 20% 0 12px 20%;
      font-size: $font-size-40;
    }
    p,i{
      padding-left: 20%;
      font-size: $font-size-24;
      margin: 0 0 6px 0;
    }
    i{
      font-size: $font-size-18;
    }
  }
  .user{
    right: 16%;
    bottom: 16%;
    width:20%;
    height:20%;
  }
}
