@import "../../../../styles/app.scss";
@import "../../../../styles/animations.scss";

.bg{
  background-image: url("../../../../images/home-bg.png");
}
.triangle{
  left: 50%;
  top:50%;
  margin-left: -360px;
  margin-top: -780px;
  width:0;
  height:0;
  border: 360px solid transparent;
  border-bottom: 620px solid $main-color-2;
  opacity: 0.7;
}
.line{
  top:50%;
  left: 50%;
  margin-left: -30%;
  width:60%;
  height:$line-width-4;
  background: $main-color;
  transform: rotate(-45deg);
  opacity:0.5;
}
.white,
.yellow,
.c{
  top:50%;
  left:50%;
  border-radius: 50%;
}
.white{
  -webkit-animation:circle 5s ease-in-out infinite;
  -o-animation:circle 5s ease-in-out infinite;
  animation:circle 5s ease-in-out infinite;
  margin-top: -328px;
  margin-left:-328px;
  border: $line-width-3 dotted $white-color;
  width:648px;
  height:648px;
}
.yellow{
  -webkit-animation:circle 2s ease-in-out infinite;
  -o-animation:circle 2s ease-in-out infinite;
  animation:circle 2s ease-in-out infinite;
  width:576px;
  height:576px;
  margin: -290px;
  border: $line-width-3 solid transparent;
  border-left: $line-width-3 dotted $main-color;
  border-right: $line-width-3 dotted $main-color;
}
.c{
  text-align: left;
  width:480px;
  height:480px;
  margin: -244px;
  background: $main-color;
  h1{
    padding: 120px 0 12px 72px;
    margin: 0;
    color: $black-color;
    font-size: $font-size-big;
    font-weight: 800;
  }
  p,i{
    padding-left: 72px;
    color: $black-color;
    font-size: $font-size-30;
    margin: 0 0 6px 0;
    font-weight:800;
  }
  i{
    font-size: $font-size-20;
    .b0{
      -webkit-animation:opacity 1s ease-in-out .2s infinite;
      -o-animation:opacity 1s ease-in-out .2s infinite;
      animation: opacity 1s ease-in-out .2s infinite;
    }
    .b1{
      -webkit-animation:opacity 1s ease-in-out .4s infinite;
      -o-animation:opacity 1s ease-in-out .4s infinite;
      animation: opacity 1s ease-in-out .4s infinite;
    }
    .b2{
      -webkit-animation:opacity 1s ease-in-out .6s infinite;
      -o-animation:opacity 1s ease-in-out .6s infinite;
      animation: opacity 1s ease-in-out .6s infinite;
    }
    .b3{
      -webkit-animation:opacity 1s ease-in-out .8s infinite;
      -o-animation:opacity 1s ease-in-out .8s infinite;
      animation: opacity 1s ease-in-out .8s infinite;
    }
    .b4{
      -webkit-animation:opacity 1s ease-in-out 1s infinite;
      -o-animation:opacity 1s ease-in-out 1s infinite;
      animation: opacity 1s ease-in-out 1s infinite;
    }
  }
}
.user{
  right: 84px;
  bottom: 84px;
  margin: 0 0 0 auto;
  width:108px;
  height:108px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../images/user.png");
}